.container {
    color:white;
}

.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.product-header {
    color: rgb(233, 66, 176);
}

.form-label {
    color: white;
}


.form-control {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(29, 33, 54);
    color: white;
}


.form-control:focus {
    border-color: white;
    background-color: rgb(19, 23, 42);

} 

.product-order {
    color: rgb(105, 244, 181);
}

